<aside id="left-panel">
    <nav>
        <ul>
            
            <li>
                <a href="@Url.Action("Index", "Credit")" title="Credit"><i class="fa fa-money fa-fw"></i> <span class="menu-item-parent">Payment receipt upload</span></a>
               
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>